body {
    text-align: center;
    margin-top: 300px;
    background-color: #eee;
}

@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.top {
    margin-bottom: 200px;
}

form { height: 150px; }

input {
    height: 30px;
    width: 200px;
    vertical-align: middle;
}

#pwd {
    font-size: 30px;
    background-color: transparent;
    border: 1.5px solid gray;
    border-radius: 5px;
}

.sub {
    width: 80px;
    height: 30px;
    vertical-align: middle;
    border-radius: 7px;
    border: none;
    background-color: rgb(145, 190, 228);
    font-size: 20px;
}
.sub.cafe { background-color: goldenrod; }

.sub:hover {
    border: 1.5px solid rgb(22, 43, 38);
}
#guide {
    font-family: 'HeirofLightBold';
    font-size: 30px;
    color: rgb(81, 98, 114);
    margin-bottom: 50px;
}

#one {
    margin-right: 20px;
}

#two {
    margin-left: 20px;
}